@media only screen and (max-width: 960px) {
    .end {
        text-align: center;
    }


    .comentario {
        margin-top: calc-rem(5);
        margin-bottom: calc-rem(5);
        width: 100%;
    }
}