
$font-family: 'Wix Madefor Display', sans-serif;
$font-family-franklin: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$primary-color: #4F4CFF;
/* #5477F7;*/
$secondary-color: #FF80E7;
$tercer-color: #0133E3;
$shadow-color: rgba(0, 0, 0, 0.3);
$white-color: white;
$black-color: black;